@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
/*------------------------ Base styles ----------------------------*/
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0; }

.starting-message {
  color: #B2AA9D;
  text-align: center;
  opacity: 0.7; }
  .starting-message h2 {
    font-weight: 300; }

body {
  background: #E0DEDA; }

button {
  border: none;
  color: #fff;
  cursor: pointer; }

button:focus {
  outline: none; }

input:focus, textarea:focus {
  outline: none; }

input[type="text"], select {
  border: none;
  border-radius: 8px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  font-size: 1.3em;
  padding: 15px; }

label {
  display: block;
  font-size: 1.3em;
  margin-bottom: 10px;
  text-align: left; }

select {
  height: 55px;
  margin: 10px 0px 30px 0px; }

/* --------------------    Main Header    ------------------------- */
.header-btn {
  background: #5067BC;
  border-radius: 50%;
  height: 50px;
  margin: 0 1rem;
  width: 50px; }
  .header-btn :hover {
    color: white; }

.header-btn-group {
  display: flex;
  justify-content: space-around;
  margin: 0 auto; }

.header-icon {
  color: rgba(255, 255, 255, 0.4);
  font-size: 2em;
  transition: all 0.2s linear; }

.header-icon.active {
  color: white; }

.main-header {
  background: #4356AA;
  height: 150px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10; }
  .main-header .main-title {
    box-shadow: 0px, 2px, 4px rgba(44, 62, 80, 0.15);
    color: #d5d6d7;
    margin: 20px;
    text-align: center; }

/* ----------------  Search UI  --------------------- */
.search .fa-search {
  color: rgba(178, 170, 157, 0.6);
  font-size: 30px;
  height: 50px;
  left: 25px;
  position: absolute;
  top: 13px;
  width: 50px; }

.search .fa-times {
  color: rgba(178, 170, 157, 0.6);
  cursor: pointer;
  font-size: 25px;
  height: 50px;
  position: absolute;
  right: 0px;
  top: 14px;
  width: 50px; }

#searchDiv {
  bottom: 12px;
  padding: 0px 10px;
  position: fixed;
  width: 100%; }

#search-input {
  background: #f3f3f3;
  border-radius: 50px;
  color: rgba(178, 170, 157, 0.6);
  text-indent: 40px;
  width: 100%; }

#search-input::-webkit-input-placeholder {
  color: rgba(178, 170, 157, 0.6); }

/*------------------------ Form/modal styles mobile ----------------------------*/
.alert {
  animation-name: modalopen;
  animation-duration: 0.3s;
  background: #f4f7f8;
  border-radius: 8px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  color: #827867;
  display: none;
  font-size: 1.5rem;
  margin: 100px auto;
  position: relative;
  padding: 70px;
  text-align: center;
  width: 90%;
  z-index: 21; }
  .alert h3 {
    text-transform: capitalize;
    font-weight: 300; }
  .alert .invite-div {
    margin: 30px; }
  .alert .close-modal {
    color: #E0DEDA;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2rem; }

form {
  animation-name: modalopen;
  animation-duration: 0.3s;
  background: #f4f7f8;
  border-radius: 8px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  display: none;
  margin: 100px auto;
  padding: 40px 30px;
  position: relative;
  width: 90%;
  z-index: 21; }
  form .fa-times {
    color: #E0DEDA;
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 30px; }
  form h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    text-align: center; }

form input[type="text"], select {
  background-color: #e8eeef;
  margin-bottom: 25px;
  width: 100%; }

.modal {
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20; }

#registrar button {
  background: #5071CC;
  border-radius: 8px;
  height: 60px;
  width: 100%; }

#registrar button .submit {
  color: rgba(255, 255, 255, 0.7);
  font-size: 2em;
  font-weight: 500; }

.no-btn {
  background: #ee634a; }

.yes-btn {
  background: #5bbb5b; }

.yes-btn, .no-btn {
  border-radius: 5px;
  font-size: 1.5rem;
  margin: 20px 5px;
  padding: 10px 30px; }

/*------------------------ List styles ----------------------------*/
.confirmed {
  color: #5bbb5b; }

.icon {
  cursor: pointer;
  font-size: 1.3em;
  margin-left: 5px;
  transition: all 0.2s linear; }
  .icon :hover {
    color: #838383; }

.invitee {
  align-items: flex-start;
  background: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
  color: #B2AA9D;
  display: flex;
  font-size: 1em;
  font-weight: 100;
  height: 50px;
  justify-content: space-between;
  padding: 15px 10px 0px 20px; }

.invitee-info {
  display: none; }
  .invitee-info h4 {
    text-transform: uppercase; }

li {
  background: transparent;
  border-radius: 5px;
  list-style: none;
  margin-top: 12px;
  position: relative; }
  li span {
    align-self: flex-start;
    margin-right: auto;
    text-transform: capitalize; }

ul.inviteList {
  display: grid;
  margin-top: 160px;
  padding: 0px 15px; }

/* -------------- Footer styles ----------------*/
footer {
  background: #E0DEDA;
  border-top: 2px solid #ccc;
  bottom: 0;
  height: 77px;
  position: fixed;
  width: 100%; }

/*---------------- Media Queries -----------------------*/
@media (min-width: 768px) {
  .container {
    width: 100%; }
  .header-btn-group {
    align-items: center;
    justify-content: space-between; }
  footer {
    display: none; }
  form {
    padding: 50px 40px;
    width: 60%; }
  #searchDiv {
    position: static;
    width: 80%; }
    #searchDiv .fa-search {
      color: rgba(255, 255, 255, 0.4); }
    #searchDiv .fa-times {
      color: rgba(255, 255, 255, 0.4); }
    #searchDiv .search-inner {
      position: relative; }
  #search-input {
    background: #5067BC;
    color: rgba(255, 255, 255, 0.4);
    text-indent: 60px; }
  #search-input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.4); }
  .search-mobile-icon {
    display: none; }
  ul.inviteList {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
    margin-bottom: 200px; } }

@media (min-width: 1200px) {
  form {
    width: 50%; }
  ul.inviteList {
    grid-template-columns: repeat(3, 1fr); }
  .alert {
    width: 40%; } }

@keyframes modalopen {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
