@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

/*------------------------ Base styles ----------------------------*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

input:focus, textarea:focus {
    outline: none;
}

button {
  cursor: pointer;
  border: none;
  color: #fff;
}

button:focus {
  outline: none;
}

#registrar button {
  background: #5071CC;
  height: 60px;
  width: 100%;
  border-radius: 8px;
}

#registrar button .submit {
  font-size: 2em;
  color: rgba(255,255,255,0.7);
  font-weight: 500;
}

.yes-btn, .no-btn {
  padding: 10px 50px;
  border-radius: 5px;
  font-size: 1.5rem;
  margin: 20px 5px;
}

.yes-btn {
  background: #5bbb5b;
}

.no-btn {
  background: #ee634a;
}

form h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.8em;
}

form {
  margin: 100px auto;
  width: 90%;
  position: relative;
  background: #f4f7f8;
  padding: 40px 30px;
  border-radius: 8px;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  animation-name: modalopen;
  animation-duration: 0.3s;
  z-index: 21;
}

.alert {
  margin: 200px auto;
  width: 90%;
  position: relative;
  background: #f4f7f8;
  padding: 50px 30px;
  border-radius: 8px;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  z-index: 22;
  text-align: center;
}

.alert span {
  font-size: 1.5rem;
}

.main-heading {
  font-family: 'Roboto', sans-serif;
  font-size: 56px;
  text-align: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.alert-modal {
  display: none;
  position: fixed;
  z-index: 19;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  color: #d8d4ce;
  cursor: pointer;
}

.main-title h1 {
  color: #d5d6d7;
  margin: 5px 15px;
  font-size: 2.5em;
  font-weight: 700;
}

.main-title {
  margin: 0px 0px 10px 0px;
  display: flex;
  justify-content: center;
}

.search {
  position: fixed;
  bottom: 10px;
  left: 5%;
  width: 90vw;
  z-index: 10;
  display: flex;
}

#search-input {
  margin: 0;
  background: #f3f3f3;
}

input[type="checkbox"] {
  position:relative;
  width: 35px;
  height: 20px;
  -webkit-appearance: none;
  background: #c6c6c6;
  outline: none;
  border-radius: 20px;
  transition: .5s;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
}

input:checked[type="checkbox"] {
  background: #6FD36F;
}

input[type="checkbox"]:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  top: 0;
  left: 0;
  background: #fff;
  transform: scale(1.05);
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  transition: 0.5s;
}

input:checked[type="checkbox"]:before {
  left: 15px;
}

.filter-group label {
  font-size: 1.5em;
  color: #b2aa9d;
  padding-right: 20px;
  margin-bottom: 0;
}

.filter-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.filter-ui {
  z-index: 10;
  width: 100vw;
  display: none;
  justify-content: space-around;
}

body {
  background: #E0DEDA;
}

/* Header Component Styles */
header {
  background: #4356AA;
  padding: 20px 30px 15px 20px;
  box-shadow: 0px, 2px, 4px rgba(44,62,80,0.15);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 100%;
  margin: 0 auto;
  height: 160px;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.search input[type=text] {
  width: 100%;
  color: rgba(178,170,157, 0.6);
  border-radius: 25px;
  text-indent: 50px;
  height: 50px;
}

.search input[type=text]::-webkit-input-placeholder {
  color: rgba(178,170,157, 0.6);
}

.search .fa-search {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px;
  left: 16px;
  font-size: 30px;
  color: rgba(178,170,157, 0.6);
}

.search .fa-times {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 14px;
  right: 0px;
  font-size: 25px;
  color: rgba(178,170,157, 0.6);
}

.ui-widgets {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 12px;

}

.header-btn-group {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.header-btn {
  border-radius: 50%;
  background: #5067BC;
  width: 50px;
  height: 50px;
  margin: 0 1rem;
}

.header-icon {
  color: rgba(255,255,255,0.4);
  font-size: 2em;
  transition: all 0.2s linear;
}

.header-btn:hover {
  color: rgba(255,255,255,1);
}

.main-header {
  position: fixed;
  top: 0;
  z-index: 10;
}

input[type="text"], select {
  font-size: 1.5em;
  border: none;
  background-color: #e8eeef;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 25px;
  width: 100%;
  font-size: 1.3em;
  padding: 15px;
  border-radius: 8px;
}

select {
  margin: 10px 0px 30px 0px;
  height: 55px;
}

label {
  display: block;
  font-size: 1.3em;
  text-align: left;
  margin-bottom: 10px;
}
/*------------------------ List styles ----------------------------*/
.fa-caret-down {
  font-size: 2em;
  margin-top: -5px;
  align-self: flex-start;
}

li span {
  margin-right: auto;
  text-transform: capitalize;
  align-self: flex-start;
}

ul.inviteList {
  display: grid;
  padding: 0px 15px;
  margin-top: 160px;
}

li {
  height: 50px;
  background: transparent;
  list-style: none;
  position: relative;
  margin-top: 12px;
  border-radius: 5px;
}

.card {
position: absolute;
width: 100%;
height: 100%;
transform-style: preserve-3d;
transition: all 0.7s ease-in;
}

.card.active {
  transform: rotateX(180deg);
}

.confirmed {
  color: #5bbb5b;
}

.invitee {
  color: #B2AA9D;
  font-size: 1em;
  font-weight: 100;
  border-radius: 5px;
  background: #fff;
  padding: 15px 10px 0px 20px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.15);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.card input {
  border: 1px dotted rgba(0,0,0, .2);
  outline: none;
  margin-right: auto;
  width: 95%;
  color: #B2AA9D;
  font-size: 1em;
  font-weight: 100;
  height: 2em;
  margin-top: -7px;
}

.front {
position: absolute;
width: 100%;
height: 100%;
backface-visibility: hidden;
}


.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateX(180deg);
}

.icon-front,
.icon-back {
  font-size: 1.3em;
  transition: all 0.2s linear;
  cursor: pointer;
  margin-left: 5px;
}

footer {
  /*background: #4356AA;*/
  background: #E0DEDA;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 77px;
  border-top: 2px solid #ccc;
}

.icon:hover {
  color: #838383;
}


/*@media (min-width: 768px) {
  ul.inviteList {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
    margin-bottom: 200px;
  }

  .search {
    position: relative;
  }

select {
  height: 50px;
}

form {
  width: 60%;
  padding: 50px 40px;
}

.container {
  width: 90%;
}

}

@media (min-width: 1200px) {
  ul.inviteList {
    grid-template-columns: repeat(3, 1fr);
  }

  form {
    width: 50%;
  }

}

@keyframes modalopen {
  from{opacity: 0}
  to {opacity: 1}
}*/
